
@{
    ViewBag.Title = "información";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Sobre nosotros</h2>

<div class="card">
    <div class="info">
        <p>Bienvenido a nuestra tienda de hardware informático. En TecnoCr, nos apasiona proporcionar a nuestros clientes la mejor experiencia en la compra de componentes y accesorios para sus equipos. Desde procesadores y tarjetas gráficas hasta periféricos y dispositivos de almacenamiento, tenemos todo lo que necesitas para potenciar tu experiencia informática.</p>

        <p>Nuestro equipo está formado por entusiastas de la tecnología con años de experiencia en la industria. Nos esforzamos por ofrecer productos de alta calidad, asesoramiento experto y un servicio al cliente excepcional en cada paso del camino.</p>

        <p>En TecnoCr, entendemos que cada cliente es único, por lo que nos comprometemos a proporcionar soluciones personalizadas que se adapten a tus necesidades específicas. Ya seas un jugador ávido, un profesional creativo o un usuario casual, estamos aquí para ayudarte a encontrar los productos adecuados para ti.</p>

        <p>Además de nuestra amplia selección de productos, también ofrecemos servicios de montaje de equipos, asistencia técnica y consultas de configuración. Nos enorgullece ser tu socio de confianza en el mundo de la tecnología.</p>

        <p>Gracias por elegir TecnoCr. Esperamos poder servirte y ayudarte a llevar tu experiencia informática al siguiente nivel.</p>
    </div>
</div>

<footer>
    TecnoCr 2024
</footer>


<style>
    body {
        background-image: url(https://th.bing.com/th/id/R.2fb58841d35eb772596de40f49653d51?rik=UT5cWI4ydhuuQA&pid=ImgRaw&r=0);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: Arial, sans-serif; 
        margin: 0; 
    }

    h2 {
        color: #000000; 
        font-size: 30px; 
        text-align: center;
        margin-bottom: 20px;
        margin-top: 15px;
    }

    .card {
        width: 90%; 
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border: 1px solid #ddd;
        margin-bottom: 20px; 
    }

    .info p {
        color: #000; 
        font-size: 18px; 
        line-height: 1.6;
        margin-bottom: 15px;
    }
</style>
